<div class="container-fluid">
  <header>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Databinding (básico)</a></li>
        <li class=""><a href="#">Link </a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <h1>Prueba de Directivas</h1>
      <span><i>Estilos de bootstrap</i></span>
      <hr>
      
      <h1 class="bg-red-title">Directivas</h1>
      <span class="bg-red">ngIf else (Directiva de estructura)</span>
      <app-ng-if></app-ng-if>

      <span class="bg-red">ngFor (Directiva de estructura)</span>
      <div class="border-1 border-red">
        <app-ng-for></app-ng-for>
      </div>

      <span class="bg-red">ngStyle (Directiva de atributos)</span>
      <div class="border-1 border-red">
        <p>El color cambia ya que a traves de la directiva ngStyle estamos afectando las propiedades CSS del elemento:</p>
        <code> < p [ngStyle]="{{ '{' }} 'background': getColor() {{'}'}}"></code>
        <app-ng-style></app-ng-style>
        <app-ng-style></app-ng-style>
      </div>

      <span class="bg-red">ngClass (Directiva de atributos)</span>
      <app-ng-class></app-ng-class>
    </div>
  </div>
</div>
